@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font-family: 'Roboto Condensed', sans-serif;
}
 .container{

    font-family: 'Roboto Condensed', sans-serif;
    .hi{
        margin: 10px 10px 0;
        padding: 12px;
        font-size: 50px;
        color: green;
        font-weight: bold;
    }
    .kurs{
        padding: 10px;
    }
    .help{
        padding: 10px;
    }
    h1{
        font-size: 35px
    }
    h3{
        font-size: 25px
    }

    .viber{
        color: #7316ba;
        font-weight: 700;
    }

    .important{
        margin-top: 30px;
        h2,h3{
            text-align: left;
            font-weight: bold;
            color: green;
        }
        h2{
            font-size: 40px;
            margin-bottom: 20px;
        }
        h3{
            font-size: 24px;
        }

        &_info{
            text-align: left;
        }
    }
 }
