.unsver{
    border-top: 1px solid rgba(0,0,0, 0.2);
    border-bottom: 1px solid  rgba(0,0,0, 0.2);
}
.test_line{
    //transition: width 1s linear;
}
.selected-answer{
    background: lime;
}
.bad-answer{
    background: red;
}
.my-answers{
    padding: 0 10vw!important;
}
.my-answers p{
    font-size: 12pt!important;
}
.answer-bordered{
    border-top: 2px solid aqua;
    border-bottom: 2px solid aqua;
}